---
import Layout from '../layouts/Layout.astro';
import Topbar from '../components/Topbar.astro';
const currentPath = Astro.url.pathname;
---


<Layout>

    <div class="md:m-12 border-b-8 border-l-8 border-r-8 border-[#0015FF] bg-[#FFFAF2]">

        <Topbar />

        <div class="p-8 pt-4">

            <p class="text-2xl font-bold">Frequently Asked Questions</p>
            <p>This page will get updated as people ask more questions :D</p>

            <p class="text-xl font-bold">Am I allowed to work on an existing site?</p>
            <p>Yes! However, there are a few more requirements:</p>
                <ul>
                    <li>Improvements must be major; must either look or function like an entirely new site</li>
                    <li>Hackatime must be installed. Time spent may impact likelyhood of getting prizes (for existing sites only)</li>
                    <li>Take screenshots of what your site looked like beforehand, and document the exact changes you make!</li>
                </ul>	

            <p>In your ship message, include:</p>
            <ul>
                <li>That it is an update to an existing site</li>
                <li>Total amount of time spent (code + design)</li>
                <li>Before + after screenshots</li>
                <li>List of changes</li>
            </ul>

            <p class="text-xl font-bold">I can't find the channels on slack!</p>
            <p>Check if you're still a multi-channel guest on slack. If so, you'll need to go through verification first. </p>
            <p>Still can't find it? Feel free to DM @acon with a screenshot of your issue.</p>
            <p>Still can't access slack? Email acon at hackclub dot com, although please only use this as a last resort.</p>

            <p class="text-xl font-bold">Where can I ask more questions?</p>
            <p>#personal-site-ysws on slack! Feel free to ask anything relevant to the program or making a personal site :D</p>


        </div>

    </div>

    <div class="mt-12 hidden md:flex">.</div>

</Layout>