---
import Layout from '../layouts/Layout.astro';
import Design from '../components/Design.astro';
import Code from '../components/Code.astro';
import Deploy from '../components/Deploy.astro';
import Intro from '../components/Intro.astro';
import Profit from '../components/Profit.astro';
---

<style>
	.rainbow-stroke {
		color: #441152;
		-webkit-text-stroke: 10px transparent;
		background: linear-gradient(90deg, #FF82A1, #FF984F, #FFD400, #00FF9D);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-stroke-width: 10px;
		-webkit-text-stroke-color: transparent;
		text-stroke: 10px transparent;
	}

	.rainbow-stroke-container {
		padding: 0 16px; 
		overflow: visible;
	}
	a {
		text-underline-offset: 2px;
		color: #3B1152;
		/* transition: color 0.1s; */
	}
	a:hover {
		color: #283C9F; 
		text-decoration: underline wavy;
	}

	.cloud-move {
		animation: cloud-move-x 40s linear infinite;
	}

	@keyframes cloud-move-x {
		0% {
			left: -30%;
		}
		100% {
			left: 110%;
		}
	}
</style>

<Layout>


	{/* <div class="pointer-events-none fixed top-12 left-0 w-full h-64 z-0">
		<img src="/cloud1.svg" class="cloud-move absolute top-4 left-[-20%] w-48" style="animation-delay: 0s;" />
		<img src="/cloud2.svg" class="cloud-move absolute top-24 left-[-30%] w-64" style="animation-delay: 4s;" />
		<img src="/cloud3.svg" class="cloud-move absolute top-40 left-[-25%] w-40" style="animation-delay: 8s;" />
	</div>*/}

	<a href="https://hackclub.com/" target="_blank" rel="noopenner noreferrer"><img style="position: absolute; top: 20px; left: -1px; border: 0; width: 256px; z-index: 999;" class="hover:scale-105 transition-transform duration-150 hidden md:block" src="https://assets.hackclub.com/banners/2025.svg" alt="Hack Club"/></a>



	<div class="flex flex-col justify-center items-center font-bold z-10">
		<p class="mt-8 text-xl">page page page page page page page</p>
		<div class="mt-12 text-center">
			<p class="text-4xl m-0 rainbow-stroke p-1">so you want to make a personal site</p>
			<div class="relative">
					<p class="text-[#551A8B] text-lg my-2 mx-5 text-balance">18 or younger? <a href="https://hackclub.com/" class="underline hover:decoration-wavy">Hack Club</a> can 

							<a href="/info" class="px-1 cursor-pointer transition-colors select-none bg-[#DFFF94] hover:bg-[#0DEFC9]">
								grant you a free custom domain!
							</a>
						
					</p>
					<img src="/click.svg" class="hidden md:flex absolute -translate-x-1/2 top-8 md:top-[5px] md:-right-16"/>

			</div>
		</div>

		<div class="max-w-3xl mt-12 mx-5 grid grid-cols-1 gap-8">

			<div class="p-12 py-4 bg-[#FFFAF2] border-4 border-[#441152]">
				<Intro />
			</div>

			<div class="p-12 py-4 bg-[#F8FBED] border-4 border-[#441152]">
				<Design />
			</div>

			<div class="p-12 py-4 bg-[#EFFDE7] border-4 border-[#441152]">
				<Code />
			</div>

			<div class="p-12 py-4 bg-[#E5FFDF] border-4 border-[#441152]">
				<Deploy />
			</div>


			<div class="p-12 py-4 bg-[#E5FFDF] border-4 border-[#441152]">
				<Profit />
			</div>
		</div>
		

		<img src="/grass3.svg" class="w-full mt-24"/> 

		<div class="bg-[#B0CE15] w-full py-4 md:py-20 flex flex-col justify-center items-center text-center">

			<div class="md:absolute md:-right-8 xl:right-32 scale-50 xl:scale-75">
				<div class="grid grid-cols-3 gap-x-8">
					<img src="/flower1.svg"/>
					<img src="/flower2.svg"/>
					<img src="/flower3.svg"/>
				</div>
			</div>

			<p class="m-0">made with :3 by acon (<a href="https://github.com/acornitum/page" target="_blank" rel="noopenner noreferrer">repo</a>)</p>
			<p class="mt-2"> <span><a href="https://hackclub.com" class="underline hover:decoration-wavy transition-colors">hack club</a></span> //
				<span><a href="https://hackclub.com/slack" class="underline hover:decoration-wavy transition-colors">slack</a></span> //
				<span><a href="https://hackclub.com/clubs" class="underline hover:decoration-wavy transition-colors">clubs</a></span> //
				<span><a href="https://hackclub.com/hackathons" class="underline hover:decoration-wavy transition-colors">hackathons</a></span> 
			</p>

			<div class="md:absolute md:-left-8 xl:left-32 scale-50 xl:scale-75">
				<div class="grid grid-cols-3 gap-x-8">
					<img src="/flower3.svg" class="-scale-x-100"/>
					<img src="/flower2.svg" class="-scale-x-100"/>
					<img src="/flower1.svg" class="-scale-x-100"/>
				</div>
			</div>
		</div>

	</div>
</Layout>
