<style>
	a {
		text-underline-offset: 2px;
		color: #00949F; 
		/* transition: color 0.1s; */
	}
	a:hover {
		color: #2563eb; 
		text-decoration: underline wavy;
	}
</style>

<p>step 2: code!</p>


<p>haven't ever made anything with html/css? you should probably doing that first! html contains the content on a page, while css is the styling.</p>
<p>here are some resources:</p>

<ul>
    <li><a href="https://workshops.hackclub.com/personal_website/" target="_blank" rel="noopenner noreferrer">Max Wofford's how to make a personal site tutorial</a></li>
    <li><a href="https://www.w3schools.com/html/html_intro.asp" target="_blank" rel="noopenner noreferrer">W3Schools basic HTML syntax</a></li>
    <li><a href="https://www.w3schools.com/css/" target="_blank" rel="noopenner noreferrer">W3Schools basic CSS syntax</a></li>
</ul>

<p>got html/css down already? want to try doing a little more?</p>

<ul>
    <li><a href="https://tailwindcss.com/" target="_blank" rel="noopenner noreferrer">Tailwind CSS</a> - css framework! makes writing css so much easier</li>
    <li><a href="https://react.dev/">React.js</a> - javascript library for building user interfaces</li>
    <li><a href="https://astro.build/">Astro</a> - javascript web framework for building static sites. this site uses it!</li>
</ul>

<p>more resources!</p>

<ul>
    <li><a href="https://workshops.hackclub.com/">Hack Club Workshops</a> - includes web dev workshops!</li>
    <li><a href="https://threejs.org/">three.js</a> - want to add 3d graphics to your site?</li>
    <li><a href="https://www.joshwcomeau.com/">Josh W Comeau's CSS blogposts</a> - develop an intuition for css</li>
    <li><a href="https://flexboxfroggy.com/">Flexbox Froggy</a> - game where you help a frog by writing css</li>
</ul>



{/* <p>sooo how do you code a site?</p>
<p>at the very base, it's just html/css! if you haven't touched either, i'd recommend you check out this <a href="https://workshops.hackclub.com/personal_website/" target="_blank" rel="noopenner noreferrer">basic tutorial</a>.</p>

<p>in its basic form, you can make a site with just html and css!</p> 
<p>if you've never made a site, i'd recommend you try doing it with just those two first.</p>
<p>here are some good resources:</p>

<ul>
    <li><a href="https://workshops.hackclub.com/personal_website/" target="_blank" rel="noopenner noreferrer">workshop: make a complete first site (by max)</a></li>
    <li>html syntax (by name)</li>
    <li>css syntax (by name)</li>
    <li>css frog game https://flexboxfroggy.com/</li>
</ul>

<p>but <i>where</i> do you code? in a code editor! i use vscode - it's very intuative to use.</p>
<p>want to do something more complex and use a framework?</p>
<p>Astro and React are both pretty good!</p>
<p>i'd also recommend checking out Tailwind. it makes it much faster to write css!</p>*/}