<style>
	a {
		text-underline-offset: 2px;
		color: #00949F; 
		/* transition: color 0.1s; */
	}
	a:hover {
		color: #2563eb; 
		text-decoration: underline wavy;
	}
</style>

<p>step 3: deploy!</p>

<p>deploying a site basically means to move it out of the local development enviornment, and to a place where everyone can see it!
    this way, others will be able to visit your site via your domain name url.
</p>

<p>two common places to deploy a static site: github pages and vercel.</p>
<ul>
    <li><a href="https://docs.github.com/en/pages/quickstart" target="_blank" rel="noopenner noreferrer">GitHub Pages Quickstart</a></li>
    <li><a href="https://vercel.com/home" target="_blank" rel="noopenner noreferrer">Vercel</a></li>
</ul>

<p>for static sites, both of these are free! you will however be constrained to a .github.io or .vercel.com domain name.</p>

<p><a href="https://workshops.hackclub.com/personal_website/" target="_blank" rel="noopenner noreferrer">Max Wofford's how to make a personal site tutorial</a> includes how to deploy a site on github pages.
</p>