<style>
	a {
		text-underline-offset: 2px;
		color: #00949F; 
		/* transition: color 0.1s; */
	}
	a:hover {
		color: #2563eb; 
		text-decoration: underline wavy;
	}
</style>

<p>step 1: design!</p>

<p>firstly: where do you design a site?</p>
<p>i use <a href="https://www.figma.com/" target="_blank" rel="noopenner noreferrer">Figma</a>: a vector based design app! you can download it <a href="https://www.figma.com/downloads/" target="_blank" rel="noopenner noreferrer">here</a>, but there's also a web version. you can follow <a href="https://anchor.hackclub.com/" target="_blank" rel="noopenner noreferrer">this figma tutorial i made</a> to learn the basics.</p>
<p>you can also use any raster art app to design it - <a href="https://procreate.com/" target="_blank" rel="nooppener noreferrer">Procreate</a> and <a href="https://krita.org/en/" target="_blank" rel="noopenner noreferrer">Krita</a> are ones i've used. pen and paper work too.</p>

<p>secondly: how do you make it look good?</p>
<p>site design boils down to three things: colors, layout, and assets.</p>
<p>color basically means choosing colors that work well together.</p>
<ul>
	<li><a href="https://lospec.com/palette-list" target="_blank" rel="noopenner noreferrer">Lospec</a> - lots of color palettes</li>
	<li><a href="https://coolors.co/palettes/trending" target="_blank" rel="noopenner noreferrer">Coolors</a> - even more color palettes</li>
	<li><a href="https://color-contrast-checker.deque.com/" target="_blank" rel="noopenner noreferrer">Color Palette Contrast Checker</a></li>
</ul>
<p>for site layout ideas, look at sites you like and learn from them.</p>
<p>for assets, i like drawing them in figma/procreate and exporting them as svg/png, then putting it onto my site.
	however, you can also try to make them with css.
</p>

{/*

<p><i>this step is optional! you can skip to making [code] if you want. but, i find that designing first makes it faster!</i></p>


<p>how do you design a site?????</p>
<p>i'm glad you asked!!!!!</p>
<p>making a site that looks good comes down to two things: colors and layout. i personally like mapping those out before i start coding the site.</p>
<p>to do that, i use <a href="https://www.figma.com/" target="_blank" rel="noopenner noreferrer">Figma</a>! you can download it <a href="https://www.figma.com/downloads/" target="_blank" rel="noopenner noreferrer">here</a>, but there's also a web version. you can follow <a href="https://anchor.hackclub.com/" target="_blank" rel="noopenner noreferrer">this figma tutorial</a> to learn the basics, by making your own anime-style logo.</p>
<p>you can also use any raster app to design it (i like procreate and krita!), or even just pen and paper. or even skip entirely to just coding it if you want.</p>
<p><a href="https://colorhunt.co/" target="_blank" rel="reopenner noreferrer">Color Hunt</a> and <a href="https://lospec.com/palette-list" target="_blank" rel="noopenner noreferrer">Lospec</a> are pretty good for finding good color palettes.</p>



<p>on making raster + vector art assets</p> */}