<style>
	a {
		text-underline-offset: 2px;
		color: #2563eb; 
		/* transition: color 0.1s; */
	}
	a:hover {
		color: #00949F; 
		text-decoration: underline wavy;
	}
</style>


<p>personal sites are magical.</p>
<p>they're your own customizable corner of the web, where you can show off your projects and interests, and where other people can learn more about you!</p>
<p>here are some examples:</p>
<ul>
    <li><a href="https://aconlin.com/" target="_blank" rel="noopenner noreferrer">aconlin.com</a> (this is my own!)</li>
    <li><a href="https://phthallo.com/" target="_blank" rel="noopenner noreferrer">phthallo.com</a></li>
    <li><a href="https://mynameisashllee.github.io/" target="_blank" rel="noopenner noreferrer">mynameisashllee.github.io</a></li>
    <li><a href="https://www.meepodeep.online/" target="_blank" rel="noopenner noreferrer">meepodeep.online</a></li>
</ul>
<p>they're also super easy to learn how to make. never coded before? not a designer? no idea how this works? no worries :D</p>
<p>let's walk through how to make a site, from scratch!</p>