<p>step 4: ship!!!</p>

<p>thanks for reading!!! got questions? want feedback?</p>
<p>feel free to ask in #personal-site-ysws on hack club slack!!</p>
<p>done making your site? 18 or younger? hack club can give you a free domain if you submit your site! learn more <a href="/info">here</a> :D</p>